body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.gryffindor {
    background: #740001;
}

.ravenclaw {
    background: #0e1a40;
}

.hufflepuff {
    background: #ecb939;
}

.slytherin {
    background: #1a472a;
}

img {
    width: 20%;
}

.container {
    display:flex;
    align-items: center;
    flex-flow: column nowrap;
}

.container h5 {
    width: 67%;
    font-style: italic;
}
.container p {
    border-radius: 25px;
    border: dotted 1px grey;
    padding: 2%;
    width: 40%;
    text-align: justify;
    margin-bottom: 10%;
}

.form-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
}

.myborder {
    border: solid 2px black;
    border-radius: 15px;
    width: 40%;
    padding: 2%;

}


.column {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

}

.answers {
    text-align: center;
    margin-top: 1%;
    padding: 2%;
    width: 100%;
}

.answers input {
    margin-right: 2%;
}

input[type="radio"] {
  opacity: 0;
}
label {
    display: inline-block;
    background-color: #ddd;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
}

label:hover {
  background-color: #dfd;
}
label:active {
    background-color: #bfb;
    border-color: #4c4;

}


 input[type="radio"]:checked + label {
    background-color: #bfb;
    border-color: #4c4;
}
